<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="display-1 text-center p-3 mb-4">Add a new book</h1>
    <div class="container d-flex justify-content-center my-5">
      <div class="card shadow w-50">
        <div class="card-body">
          <form action="" method="POST">
            <div class="mb-3 row align-items-center">
              <label for="name" class="col-sm-4 col-form-label">Book Name</label>
              <div class="col-sm-8 text-end">
                <input type="text" name="name" id="name" class="form-control" required />
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <label for="author" class="col-sm-4 col-form-label">Book Author</label>
              <div class="col-sm-8 text-end">
                <input type="text" name="author" id="author" class="form-control" required />
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <label for="rating" class="col-sm-4 col-form-label">Rating</label>
              <div class="col-sm-8 text-end">
                <input type="text" name="rating" id="rating" class="form-control" min="1" max="10" step="0.5" required />
              </div>
            </div>
            <div class="mb-3 row align-items-center">
              <label for="image" class="col-sm-4 col-form-label">Image URL</label>
              <div class="col-sm-8 text-end">
                <input type="text" name="image" id="image" class="form-control" required />
              </div>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Add Book</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
